.testrun{
    color:purple;
}

.infographicb{
    background-image: url('../src/assets/img/infographic3.png');
}

.bground{
    background-image: url('https://www.google.com/url?sa=i&url=https%3A%2F%2Fen.wikipedia.org%2Fwiki%2FBear&psig=AOvVaw38l6t8_2VRPWmrq3HcBpXx&ust=1585264972385000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOjih7nitugCFQAAAAAdAAAAABAN');
}

.infographic0{
    margin-top: 8rem;
}
.infographic{
    color:pink;
    text-align: center;
    
    justify-content: center;

}

.customized{
    background-color: purple;
    border-style: solid;
    border-radius: 4rem;
}

.infographic2{
    color: blue;
    text-align:center;
    font-size: 4rem;
    font-weight: 900;
}

.infographic3{
    justify-content: center;
    text-align: center;

}

.infographic4{
    padding:2rem;
    text-align: center;
    max-width: 23rem;
}

.infographicP{
    max-width: 9rem;
    max-height: 6rem;
    border-radius: 2rem;
    justify-content: center;
}

.navitemz{
    justify-content: end;
    text-align: right;
}